*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    font-size: 100%; /* 16px */

    /* Colors  */
    --rose-800: hsl(332, 51%, 32%);

    --rose-50: hsl(330, 100%, 98%);
    --brown-800: hsl(14, 45%, 36%);

    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);



    /* Typography */
    --font-young-serif:'Young Serif', serif;
    --font-outfit:'Outfit', sans-serif;
    /* text preset I  - young serif regular  */
    --h1-size:2.5rem; /* 40px */
    --h1-weight: 400;
    --h1-line-height: 1; /* 100 */
    --h1-letter-spacing: 0;/* 0 */

    /* text preset II  - young serif regular  */
    --h2-size:1.75rem ;/* 28px */
    --h2-weight:400;
    --h2-line-height: 1;/* 100 */
    --h2-letter-spacing: 0;/* 0 */

    /* text preset III - outfit semibold */
    --h3-size: 1.25rem;/* 20px */
    --h3-weight: 600;
    --h3-line-height: 1;/* 100 */
    --h3-letter-spacing: 0;/* 0 */


    /* text preset IV  outfit regular */
    --h4-size: 1rem;/* 16px */
    --h4-weight: 400;
    --h4-line-height: 1.5;/* 150 */
    --h4-letter-spacing: 0;/* 0 */


    /* text preset - bold IV - outfit bold */
    --h4-bold-size: 1rem;/* 16px */
    --h4-bold-weight: 700;
    --h4-bold-line-height: 1.5;/* 150 */
    --h4--bold-letter-spacing: 0;/* 0 */


    /* Spacing - based on 16px*/
    /* replace 8px system with 16px base */
    --spacing-800:8rem;/* 128px / 1600 */
    --spacing-300:3rem;/* 48px  / 600*/
    --spacing-250:2.5rem;/* 40px / 500  */
    --spacing-200:2rem;/* 32px  / 400*/
    --spacing-150:1.5rem;/* 24px  / 300*/
    --spacing-100:1rem;/* 16px  / 200*/
    --spacing-75:.75rem;/* 12px  / 150*/
    --spacing-50:.5rem;/* 8px / 100*/


}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:var(--spacing-800) var(--spacing-300);
    row-gap: var(--spacing-50); 
    background-color: var(--stone-100);
    /* background-color: red; */
    /* height: 100vh; */
    min-height: 1700px;
    width: 100vw;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* background-color: blue; */
    /* 736 x 1700 */
    /* ? may need to make responsive with max and rem's or width 100% */
    max-width: 736px;
    width: 100%;
    height: 1700px;
    /* height: fill; */
    /* flex: 1 1 auto; */
    /* min-width: 0px; */
    padding: var(--spacing-250);
    row-gap: var(--spacing-250);
    border-radius: var(--spacing-150);
    
}

.recipe-image{
    /* ? may need to make responsive */
    max-width: 656px;
    width: 100%;
    height: 300px;
    object-fit:cover ;
    border-radius: var(--spacing-75);
}

.text-container{
   display: flex;
   flex-direction: column;
   /* background-color: blueviolet;  */
   max-width: 656px;
   width: 100%;
   height: 1280px;
   row-gap: var(--spacing-200);
}

.title-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    height: 112px;
    background-color: aqua;
}


/* ? maybe use clamp in font related */
h1{ 
    font-family: var(--font-young-serif);
    font-size:var(--h1-size);
    font-weight: var(--h1-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    color: var(--stone-900);
}

h4{
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
}

.prep-container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-150);
    row-gap: var(--spacing-100);
    border-radius: var(--spacing-75);
    max-width: 608px;
    width: 100%;
    height: 172px;
    background-color: var(--rose-50);
}

h3{
    font-family: var(--font-outfit);
    font-size:var(--h3-size);
    font-weight: var(--h3-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    color: var(--rose-800);
}

.prep-bullet-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-50);
    max-width: 608px;
    width: 100%;
    height: 88px;
    list-style-position: outside;
    padding-left: var(--spacing-150);
}
/* reg 16px preset 4 color stone 600 */
/* preset 4 bold for titles */

.prep-bullet strong{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
    
}

.prep-bullet h4{
    display: inline;
    margin:0px;
}

/* .prep-bullet::marker{ */
li::marker{
   color: var(--rose-800);
}


/* ingredients preset 4  */
.ingredient-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    /* height: 204px; */
    height: 236px;
    /* margin-bottom: var(--spacing-200); */
    padding-bottom: var(--spacing-200);
    /* background-color: blue; */
    /* box-shadow: inset 0px 1px 1px var(--stone-150) ; */
    /* padding-bottom: var(--spacing-200); */
    box-shadow: inset 0 -1px 0 0 var(--stone-150); 
}

h2{
    font-family: var(--font-outfit);
    font-size:var(--h2-size);
    font-weight: var(--h2-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    color: var(--rose-800);
}
.ingredient-bullet-container{
    display: flex;
    flex-direction: column;
    max-width: 608px;
    width: 100%;
    height: 152px;
    list-style-position: outside;
    padding-left: var(--spacing-150);
    row-gap: var(--spacing-50);
}


.instruction-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    /* height: 332px; */
    /* height: 332px + 32px; */
    height: 364px;
    padding-bottom: var(--spacing-200);
    box-shadow: inset 0 -1px 0 0 var(--stone-150);
    /* background-color: cadetblue; */
}

.instruction-list-container{
    display: flex;
    flex-direction: column;
    max-width: 608px;
    width: 100%;
    height: 280px;
    list-style-position: outside;
    padding-left: var(--spacing-150);
    row-gap: var(--spacing-50);
}

.instruction-list-item b{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
}

.instruction-list-item h4{
    display: inline;
    /* ?is margin needed */
    margin: 0;
}

.nutrition-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    height: 268px;
    /* background-color:yellowgreen; */
}

.nutrition-table{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* display: grid; */
    /* grid-template-rows: repeat(4,var(--spacing-150)); */
    /* grid-template-columns: repeat(2,1fr); */
    /* row-gap: var(--spacing-75); */
    /* column-gap: 32px; */
    max-width: 656px;
    width: 100%;
    height: 168px;
    box-sizing: border-box;
    /* justify-content:space-between ; */
    align-content:space-between ;
    /* background-color: aquamarine; */
    /* border-collapses: collapse;  */
    /* Joins borders into a single line */
    /* width: 100%; */
}

.row{
      flex: 0 0 calc(50%);
      max-width: 288px +32px;
      box-sizing: border-box;

    /* display: flex; */
    /* display: row; */
    height: 24px;
    /* justify-content: space-evenly; */
    /* column-gap: 16px; */
    
    /* border-bottom: 1px solid black; */
    /* flex: 1; */
    background-color: aqua;
}

.left{
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-50);
    
}

.col-2{
    padding-right: var(--spacing-200);
    /* padding-left:var(--spacing-100); */
    padding-left:var(--spacing-50);
}

.border{
    /* margin-top: 12px; */
    /* margin-bottom: 12px; */
    /* height: .5px; */
    max-width: 656px;
    width: 100%;
    font-size: 1px;
    /* line-height: 1; */
    height: 1px;
    /* stroke-width: 1px; */
    /* border-bottom: .5px solid black; */
    box-shadow: inset 0px 1px 1px var(--stone-150) ;
    /* box-sizing: border-box; */
}

/* .row{
    border-top: 1px solid black;
} */

/* tbody{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-100);
    max-width: 656px;
    width: 100%;
    height: 168px;

} */

 .bold-text{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    /* line-height: var(--h4-bold-line-height); */
    color: var(--rose-800);
 }

 th h4{
    line-height: 0px;
 }

 td{
    line-height: 0px;
 }

tr{ 
    /* height:var(--spacing-150) ; */
    /* line-height: 0px; */
    border-bottom: 1px solid var(--stone-100);
}

tr:last-of-type{
    border: none;
}

/* th{
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
} */

/* td{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--rose-800);
} */


