*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    font-size: 100%; /* 16px */

    /* Colors  */
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);

    --brown-800: hsl(14, 45%, 36%);

    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);


    /* Typography */
    --font-young-serif:'Young Serif', serif;
    --font-outfit:'Outfit', sans-serif;
    
    /* text preset I  - young serif regular  */
    --h1-size:2.5rem; /* 40px */
    --h1-weight: 400;
    --h1-line-height: 1; /* 100 */
    --h1-letter-spacing: 0;/* 0 */

    /* mobile text preset I  */
    --h1-mobile-size:2.25rem;   /* 36px */

    /* text preset II  - young serif regular  */
    --h2-size:1.75rem ;/* 28px */
    --h2-weight:400;
    --h2-line-height: 1;/* 100 */
    --h2-letter-spacing: 0;/* 0 */

    /* text preset III - outfit semibold */
    --h3-size: 1.25rem;/* 20px */
    --h3-weight: 600;
    --h3-line-height: 1;/* 100 */
    --h3-letter-spacing: 0;/* 0 */


    /* text preset IV  outfit regular */
    --h4-size: 1rem;/* 16px */
    --h4-weight: 400;
    --h4-line-height: 1.5;/* 150 */
    --h4-letter-spacing: 0;/* 0 */


    /* text preset - bold IV - outfit bold */
    --h4-bold-size: 1rem;/* 16px */
    --h4-bold-weight: 700;
    --h4-bold-line-height: 1.5;/* 150 */
    --h4-bold-letter-spacing: 0;/* 0 */


    /* Spacing - based on 16px*/
    /* replace 8px system with 16px base */
    --spacing-800:8rem;/* 128px / 1600 */
    --spacing-300:3rem;/* 48px  / 600*/
    --spacing-250:2.5rem;/* 40px / 500  */
    --spacing-200:2rem;/* 32px  / 400*/
    --spacing-150:1.5rem;/* 24px  / 300*/
    --spacing-100:1rem;/* 16px  / 200*/
    --spacing-75:.75rem;/* 12px  / 150*/
    --spacing-72:.71875rem; /*  11.5px */
    --spacing-50:.5rem;/* 8px / 100*/
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:var(--spacing-800) var(--spacing-300);
    row-gap: var(--spacing-50); 
    background-color: var(--stone-100);
    height: 100%;
    width: 100%;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 736px;
    width: 100%;
    height: 100%;
    padding: var(--spacing-250);
    row-gap: var(--spacing-250);
    border-radius: var(--spacing-150);
    background-color: var(--white);
}

.recipe-image{
    max-width: 656px;
    width: 100%;
    min-height: 300px;
    object-fit:cover ;
    border-radius: var(--spacing-75);
}

/* ==== text container - for all sections below image ==== */
.text-container{
   display: flex;
   flex-direction: column;
   max-width: 656px;
   width: 100%;
   min-height: 100%;
   row-gap: var(--spacing-200);
}

/* ==== title container ==== */
.title-container{
    display: flex;
    flex-direction: column;
    min-height: 112px;
    width: 100%;
    row-gap: var(--spacing-150);
}

h1{ 
    font-family: var(--font-young-serif);
    font-size: clamp(var(--h1-mobile-size), 2.1786rem + 0.3571vw, var(--h1-size));
    font-weight: var(--h1-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    color: var(--stone-900);
}

p{
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
}


/* ==== prep container */
.prep-container{
    display: flex;
    flex-direction: column;
    max-width: 656px;
    width: 100%;
    min-height: 172px;
    padding: var(--spacing-150);
    row-gap: var(--spacing-100);
    border-radius: var(--spacing-75);
    background-color: var(--rose-50);
}

h3{
    font-family: var(--font-outfit);
    font-size:var(--h3-size);
    font-weight: var(--h3-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    color: var(--rose-800);
}

.prep-bullet-container{
    list-style: none;
}

.prep-bullet{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: var(--spacing-50);
    margin-bottom: var(--spacing-50);
}

.prep-bullet::before{
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    line-height: var(--h4-line-height);
    padding-right: var(--spacing-100);
    content: "\2022";
    place-self: center;
    color: var(--rose-800);
}

.prep-bullet:last-of-type{
    margin-bottom: 0px;
}

.prep-bullet strong{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
}

/* ======  ingredients container =====  */
.ingredient-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 236px; /* Includes added height of padding for border*/
    padding-bottom: var(--spacing-200);
    row-gap: var(--spacing-150);
    box-shadow: inset 0 -1px 0 0 var(--stone-150); /* line at bottom of container */ 
}

h2{
    font-family: var(--font-outfit);
    font-size:var(--h2-size);
    font-weight: var(--h2-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    color: var(--brown-800);
}

.ingredient-bullet-container{
    list-style: none;
}

.ingredient-bullet{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: var(--spacing-50);
    margin-bottom: var(--spacing-50);
}

.ingredient-bullet::before{
    font-size: var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    padding-right: var(--spacing-100);    
    content: "\2022";
    place-self: center;
    color: var(--brown-800);
}

.ingredient-bullet:last-of-type{
    margin-bottom: 0px;
}

/* ==== instruction container  ==== */
.instruction-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 364px; /* includes padding for border 332 + 32*/
    padding-bottom: var(--spacing-200);
    row-gap: var(--spacing-150);
    box-shadow: inset 0 -1px 0 0 var(--stone-150);  /* line at bottom of container */
}

.instruction-list-container{
    list-style: none;
    counter-reset: count;
}

.instruction-list-item{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: var(--spacing-50);
    margin-bottom: var(--spacing-50);
    counter-increment: count;
}

.instruction-list-item::before{
    font-family: var(--font-outfit);
    font-size: var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    line-height: var(--h4-line-height);
    padding-right: var(--spacing-100);
    color: var(--brown-800);
    content: counter(count) ".";
}

.instruction-list-item:last-of-type{
    margin-bottom: 0px;
}

.instruction-list-item b{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
}

/* ==== nutrition container ==== */
.nutrition-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 268px;
}

.nutrition-title{
    padding-bottom: var(--spacing-150);
}


table {
    border-collapse:collapse ;
    max-width: 656px;
    width: 100%;
}

caption{
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
    text-align: left;
    padding-bottom: var(--spacing-150);
}

tr{
    border-bottom: 1px solid var(--stone-150);
}

.first{
    padding-top: 0px;
}

th, td {
    border-bottom: 1px solid var(--stone-150);
}

th {
    text-align:left;
    padding-left:var(--spacing-200);
    padding-top: var(--spacing-72);
    padding-bottom: var(--spacing-72);
}
  
td{
    text-align: left;
    padding-right:var(--spacing-200);
    padding-left: var(--spacing-100);
    padding-top: var(--spacing-72);
    padding-bottom: var(--spacing-72);
}
    
.row-4{
    border-bottom: none;
}

.last{
    border-bottom: none;
    padding-bottom: 0px;
}

td b{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    color: var(--brown-800);
}

@media screen and (max-width:768px ) {

.recipe-container{
    max-width: 616px;
    }
} 

@media screen and (max-width:600px ) {
 body{
    padding:0px;
    row-gap: 0px; 
    background-color: var(--white);
}

.recipe-container{
    max-width: 600px;
    border-radius: 0px;
    justify-content: start;
    padding: clamp(1rem, -4.1667rem + 17.7778vw, 2.5rem);
    }
}

@media screen and (max-width:375px ) {

    .recipe-container{
        padding: 0rem;
    }

    h1{
        font-size: var(--h1-mobile-size);
    }

    .text-container{
        padding-bottom: var(--spacing-250);
        padding-left: var(--spacing-200);
        padding-right: var(--spacing-200);
    }

    .recipe-image{
        border-radius: 0rem;
        min-height: 171px;
    }
}



