*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    font-size: 100%; /* 16px */

    /* Colors  */
    --rose-50: hsl(330, 100%, 98%);
    --rose-800: hsl(332, 51%, 32%);

    --brown-800: hsl(14, 45%, 36%);

    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);


    /* Typography */
    --font-young-serif:'Young Serif', serif;
    --font-outfit:'Outfit', sans-serif;
    /* --font-outfit:'Outfit'; */
    /* text preset I  - young serif regular  */
    --h1-size:2.5rem; /* 40px */
    --h1-weight: 400;
    --h1-line-height: 1; /* 100 */
    --h1-letter-spacing: 0;/* 0 */

    /* text preset II  - young serif regular  */
    --h2-size:1.75rem ;/* 28px */
    --h2-weight:400;
    --h2-line-height: 1;/* 100 */
    --h2-letter-spacing: 0;/* 0 */

    /* text preset III - outfit semibold */
    --h3-size: 1.25rem;/* 20px */
    --h3-weight: 600;
    --h3-line-height: 1;/* 100 */
    --h3-letter-spacing: 0;/* 0 */


    /* text preset IV  outfit regular */
    --h4-size: 1rem;/* 16px */
    --h4-weight: 400;
    --h4-line-height: 1.5;/* 150 */
    --h4-letter-spacing: 0;/* 0 */


    /* text preset - bold IV - outfit bold */
    --h4-bold-size: 1rem;/* 16px */
    --h4-bold-weight: 700;
    --h4-bold-line-height: 1.5;/* 150 */
    --h4--bold-letter-spacing: 0;/* 0 */


    /* Spacing - based on 16px*/
    /* replace 8px system with 16px base */
    --spacing-800:8rem;/* 128px / 1600 */
    --spacing-300:3rem;/* 48px  / 600*/
    --spacing-250:2.5rem;/* 40px / 500  */
    --spacing-200:2rem;/* 32px  / 400*/
    --spacing-150:1.5rem;/* 24px  / 300*/
    --spacing-100:1rem;/* 16px  / 200*/
    --spacing-75:.75rem;/* 12px  / 150*/
    --spacing-50:.5rem;/* 8px / 100*/

}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:var(--spacing-800) var(--spacing-300);
    row-gap: var(--spacing-50); 
    background-color: var(--stone-100);
    min-height: 1700px;
    width: 100vw;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    /* 736 x 1700 */
    /* ? may need to make responsive with max and rem's or width 100% */
    max-width: 736px;
    width: 100%;
    height: 1700px;
    padding: var(--spacing-250);
    row-gap: var(--spacing-250);
    border-radius: var(--spacing-150);
    
}

.recipe-image{
    /* ? may need to make responsive */
    max-width: 656px;
    width: 100%;
    /*?does height need to be a min height. */
    height: 300px;
    object-fit:cover ;
    border-radius: var(--spacing-75);
}

.text-container{
   display: flex;
   flex-direction: column;
   max-width: 656px;
   width: 100%;
   height: 1280px;
   row-gap: var(--spacing-200);
}

.title-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    height: 112px;
}


/* ? maybe use clamp in font related */
h1{ 
    font-family: var(--font-young-serif);
    font-size:var(--h1-size);
    font-weight: var(--h1-weight);
    letter-spacing: var(--h1-letter-spacing);
    line-height: var(--h1-line-height);
    color: var(--stone-900);
}

h4{
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
}

.prep-container{
    display: flex;
    flex-direction: column;
    padding: var(--spacing-150);
    row-gap: var(--spacing-100);
    border-radius: var(--spacing-75);
    /* max-width: 608px; */
    max-width: 656px;
    width: 100%;
    /* ? does height need to be a min height */
    height: 172px;
    background-color: var(--rose-50);
}

h3{
    font-family: var(--font-outfit);
    font-size:var(--h3-size);
    font-weight: var(--h3-weight);
    letter-spacing: var(--h3-letter-spacing);
    line-height: var(--h3-line-height);
    color: var(--rose-800);
}

.prep-bullet-container{
    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap: var(--spacing-50); */
    /* max-width: 608px; */
    /* width: 100%; */
    /* height: 88px; */
    /* list-style-position: outside; */
    /* padding-left: var(--spacing-150); */

    /* ? ------------------- */
    list-style: none;
    /* row-gap: var(--spacing-50); */
}
/* reg 16px preset 4 color stone 600 */
/* preset 4 bold for titles */

.prep-bullet{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: var(--spacing-50);
    margin-bottom: var(--spacing-50);
}

.prep-bullet:last-of-type{
    margin-bottom: 0px;
}

.prep-bullet strong{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
}

.prep-bullet-container .prep-bullet strong::before{
    /* font-family: var(--font-outfit); */
    /* font-size:var(--h4-size); */
    /* font-weight: var(--h4-weight); */
    /* letter-spacing: var(--h4-letter-spacing); */
    /* line-height: var(--h4-line-height); */
    color: var(--rose-800);
    content: "\2022";
    place-self: center;
    padding-right: var(--spacing-100);
    /* height: 4px; */
    /* width: 4px; */
    /* display: inline-block; */
}

/* .prep-bullet strong{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
    
} */

/* .prep-bullet h4{
    display: inline;
    margin:0px;
} */

/* .prep-bullet::marker{ */
/* li::marker{
   color: var(--rose-800);
} */


/* ingredients preset 4  */
.ingredient-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    /* ? does height need to be min height */
    height: 236px; /* Includes added height of padding for border*/
    /* height: 204px; */
    padding-bottom: var(--spacing-200);
    box-shadow: inset 0 -1px 0 0 var(--stone-150); 
}

h2{
    font-family: var(--font-outfit);
    font-size:var(--h2-size);
    font-weight: var(--h2-weight);
    letter-spacing: var(--h2-letter-spacing);
    line-height: var(--h2-line-height);
    color: var(--brown-800);
}


.ingredient-bullet-container{
    /* display: flex; */
    /* flex-direction: column; */
    /* max-width: 608px; */
    /* width: 100%; */
    /* ? Does height need to be min height */
    /* height: 152px; */
    /* list-style-position: outside; */
    /* padding-left: var(--spacing-150); */
    /* row-gap: var(--spacing-50); */
    list-style: none;
}

.ingredient-bullet{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: var(--spacing-50);
    margin-bottom: var(--spacing-50);
}

.ingredient-bullet:last-of-type{
    margin-bottom: 0px;
}

.ingredient-bullet h4::before{
    color: var(--brown-800);
    font-size: var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    content: "\2022";
    place-self: center;
    padding-right: var(--spacing-100);

}


/* ========================= */
.instruction-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    /* height: 332px; */
    /* height: 332px + 32px; */ 
    /* ? heights may need to be min-heights */
    height: 364px;
    padding-bottom: var(--spacing-200);
    box-shadow: inset 0 -1px 0 0 var(--stone-150);
    /* background-color: cadetblue; */
}

.instruction-list-container{
    display: flex;
    flex-direction: column;
    /* max-width: 656px - 24px; */
    max-width: 656px;
    width: 100%;
    /* ?Heights may need to be min heights */
    height: 280px;
    list-style-position: outside;
    /* list-style-position: inside; */
    padding-left: var(--spacing-150);
    row-gap: var(--spacing-50);
}

/* .instruction-list-item h4 span{ */
.instruction-list-item span{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--stone-600);
}

/* .instruction-list-item h4{ */
.instruction-list-item{
    /* display: inline; */
    font-family: var(--font-outfit);
    font-size:var(--h4-size);
    font-weight: var(--h4-weight);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    color: var(--stone-600);
    padding-left: var(--spacing-100);
    /* ?is margin needed */
    margin: 0;
}

/* ================== */

/* .instruction-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    height: 364px;
    padding-bottom: var(--spacing-200);
    box-shadow: inset 0 -1px 0 0 var(--stone-150);
} */
/* 
.instruction-list-container{
    max-width: 656px- 24px;
    width: 100%;
    height: 280px;
    padding-left: var(--spacing-150);
    row-gap: var(--spacing-50);
    list-style-position: inside;
    text-align: left;
} */
/* list-style-position: outside; */
/* 
b{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
} */

/* .instruction-list-item{
    padding-left:var(--spacing-50);
    
  margin-top: 0px;
} */


 .instruction-list-item::marker{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    line-height: var(--h4-bold-line-height);
    color: var(--brown-800);
} 
/* text-align: left; */



/* .instruction-list-item b{
    display: inline;
    color: var(--stone-600);
} */

/* ?is margin needed */
/* .instruction-list-item h4{
    display: inline;
    color: var(--stone-600);
} */

.nutrition-container{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-150);
    width: 100%;
    height: 268px;
}

.nutrition-table{
    display: flex;
    flex-wrap: wrap;
    max-width: 656px;
    width: 100%;
    height: 168px;
    box-sizing: border-box;
    align-content:space-between ;
}

.row{
      flex: 0 0 calc(50%);
      max-width: 288px +32px;
      box-sizing: border-box;
      height: 24px;
    /* background-color: aqua; */
}

.left{
    padding-left: var(--spacing-200);
    padding-right: var(--spacing-50);
}

.col-2{
    padding-right: var(--spacing-200);
    padding-left:var(--spacing-50);
}

.col-2 b{
    color: var(--brown-800);
}

.border{
    max-width: 656px;
    width: 100%;
    font-size: 1px;
    height: 1px;
    box-shadow: inset 0px 1px 1px var(--stone-150) ;
}

 .bold-text{
    font-family: var(--font-outfit);
    font-size:var(--h4-bold-size);
    font-weight: var(--h4-bold-weight);
    letter-spacing: var(--h4-bold-letter-spacing);
    color: var(--rose-800);
 }

 /* ? check how this is applied */
 th h4{
    line-height: 0px;
 }

 

